<% include partials/header %>
<!-- navbar -->
<div class="navbar hidden">
    <div id="menu" class="button">
        <a href="#">
            <i class="fas fa-bars"></i> Menu
        </a>
    </div>
    <div class="social">
        <div class="button">
            <a href="https://codepen.io/emags112/">
                <i class="fab fa-codepen"></i> Codepen
            </a>
        </div>
        <div class="button">
            <a href="https://github.com/evanmags">
                <i class="fab fa-github"></i> GitHub
            </a>
        </div>
    </div>
</div>

<!-- delete these?? -->
<div class="sidebar hidden"></div>
<div class="shadow hidden"></div>
<!--  -->

<!-- begin sections -->
<div id="section1" class='section hidden'>
    <div class="content">
        <div class="mainHeading">
            <h1 class="title">Evan Magnussen</h1>
            <h3 class="subheading">Web Developer and Designer</h3>
            <hr class="divider">
        </div>
        <a href="#section2">section 2</a>
        <a href="#section3">section 3</a>
        <a href="#section4">section 4</a>
    </div>
</div>
<div id="section2" class='section hidden'>
    <div class="content">
        <div class="heading">
            <h1 class="title">Projects</h1>
            <h3 class="subheading">Web Developer and Designer</h3>
            <hr class="divider">
        </div>
        <a href="#section1">section 1</a>
        <a href="#section3">section 3</a>
        <a href="#section4">section 4</a>
    </div>
</div>
<div id="section3" class='section hidden'>
    <div class="content">
        <div class="heading">
            <h1 class="title">Resume</h1>
            <h3 class="subheading">Web Developer and Designer</h3>
            <hr class="divider">
        </div>
        <a href="#section1">section 1</a>
        <a href="#section2">section 2</a>
        <a href="#section4">section 4</a>
    </div>
</div>
<div id="section4" class='section hidden'>
    <div class="content">
        <div class="heading">
            <h1 class="title">Contact</h1>
            <h3 class="subheading">Email me through the form or directly with my information on the right</h3>
            <hr class="divider">
        </div>
        <a href="#section1">section 1</a>
        <a href="#section2">section 2</a>
        <a href="#section3">section 3</a>
    </div>
</div>


<% include partials/footer %>