<% include partials/header %>
<!-- navbar -->
<div class="navbar hidden">
    <div id="menu" class="button">
        <i class="fas fa-bars"></i> Menu
    </div>
    <div class="navTitle hidden">
        Evan Magnussen | Web Developer
    </div>
    <div class="social">
        <div class="button">
            <a href="https://codepen.io/emags112/" target="_blank">
                <i class="fab fa-codepen"></i> Codepen
            </a>
        </div>
        <div class="button">
            <a href="https://github.com/evanmags" target="_blank">
                <i class="fab fa-github"></i> GitHub
            </a>
        </div>
    </div>
</div>

<div class="shadow hidden"></div>

<!-- begin sections -->
<div id="section1" class='section hidden'>
    <div class="mainHeading">
        <h1 class="title">Evan Magnussen</h1>
        <h3 class="subheading">Web Developer and Designer</h3>
        <hr class="divider">
    </div>
    <div class="content">
        <div class="contentColumn profilePicture">
            <i class="far fa-user fa-10x"></i>
            This is a placeholder....
            <img src="" alt="">
        </div>
        <div class="contentColumn intro">
            <h4>Hi, I'm Evan.</h4>
            <p>I build interactive and fun to use web applications.</p>
            <p>I started learning web development and design on the side as a hobby and fell in love from the start. Since then I have always had a project in the works and my learning process has always been project and problem based, or problem solving based' of you will. Working on the next roadblock as soon as the last is cleared.</p>
            <p>I currently am looking for the right opportunity to take my passion full time. As well as to continue my growth on both the front and back end</p>
            <p></p>
        </div>
        <div class="contentColumn">
            <div class="columnSection skills">
                <h4>Skills:</h4>
                <img src="https://www.w3.org/html/logo/badge/html5-badge-h-solo.png" alt="HTML5" title="HTML5">
                <img src="/images/iconfinder_badge-css-3_317756.png" alt="CSS3" title="CSS3">
                <img src="/images/javascript-js-seeklogo.com.svg" alt="JavaScript" title="JavaScript">
                <img src="/images/jQuery.svg" alt="jQuery" title="jQuery">
                <img src="/images/Node.js_logo.svg" alt="Node.js" title="Node.js">
                <img src="/images/expressjs-ar21.svg" alt="Express" title="Express">
                <img src="/images/mongodb-icon.svg" alt="MongoDB" title="MongoDB">
            </div>
            <div class="columnSection goals">
                <h4>Goals:</h4>
                <ul>
                    <li>Continue to grow and learn new technonogies</li>
                    <li>Build one personal project every month</li>
                    <li>Learn both Ruby on Rails and Python/Django by the end of 2019</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="section2" class='section hidden'>
    <div class="heading">
        <h1 class="title">Projects</h1>
        <hr class="divider">
    </div>
    <div class="content">
        <div class="card closing">
            <img class="icon" src="https://img.icons8.com/material/24/000000/multiply.png">
            <div class="cardContent">
                <div class="title">Colors!</div>
                <div class="sub">A random Color Generator</div>
                <div class="description">
                    <p>Colors! is the first app I ever built. Beginning as a simpe DOM manipulation exercise I continued to add more and more functionality until it became what it is today.</p>
                    <ul>What I learned:
                        <li>DOM manipulation</li>
                        <li>Array and object methods</li>
                        <li>The beginnings of UI</li>
                    </ul>
                    <p>Click here: <a href="#" target="_blank"> To view the full project</a></p>
                </div>
            </div>
            <div class="foot"><span>Click for more</span><i class="fas fa-chevron-circle-right"></i></div>
        </div>
        <div class="card closing">
            <img class="icon" src="https://img.icons8.com/material/24/000000/multiply.png">
            <div class="cardContent">
                <div class="title">Onus</div>
                <div class="sub">A cataloging app</div>
                <div class="description">
                    <p>Onus is an app all about item creation and organization. This neat tool will allow users to catalog everything they own orderly collections. </p>
                    <ul>What I learned:
                        <li>RESTful routing</li>
                        <li>Routing methods</li>
                        <li>Database methods (C.R.U.D.)</li>
                        <li>User authentication and authorization</li>
                        <li>Relational data</li>
                        <li>Dynamic web design</li>
                    </ul>
                    <p>Click here: <a href="#" target="_blank"> To view the full project</a></p>
                </div>
            </div>
            <div class="foot"><span>Click for more</span><i class="fas fa-chevron-circle-right"></i></div>
        </div>
        <div class="card closing">
            <img class="icon" src="https://img.icons8.com/material/24/000000/multiply.png">
            <div class="cardContent">
                <div class="title">ParkView</div>
                <div class="sub">A search view of the NPS.gov API</div>
                <div class="description">
                    <p>ParkView allows you to search teh NPS.gov API and view information reguarding all of our wonderful national parks. Not only that, I use the Google Maps API and the Open Weather Map API to provide further information to better plan your stay.</p>
                    <ul>What I learned:
                        <li>API methods</li>
                        <li>JSON parsing</li>
                        <li>HTTP requests</li>
                        <li>Dynamic web design</li>
                    </ul>
                    <p>Click here: <a href="https://nps-parkview.herokuapp.com/" target="_blank"> To view the full project</a></p>
                </div>
            </div>
            <div class="foot"><span>Click for more</span><i class="fas fa-chevron-circle-right"></i></div>
        </div>
        <div class="card closing">
            <img class="icon" src="https://img.icons8.com/material/24/000000/multiply.png">
            <div class="cardContent">
                <div class="title">TrueGrid</div>
                <div class="sub">Easy CSS Grid layouts</div>
                <div class="description">
                    <p>Unhappy with never having a real css grid framework to fall to, I decided to build my own. TrueGrid allows you to build websites with responsive grid layouts using simple class names. For further customization attributes are added to the grid element for complete freedom of layout.</p>
                    <ul>What I learned:
                        <li>CSS Grid</li>
                        <li>Media Queries</li>
                        <li>Sass and SCSS</li>
                        <li>Minifying</li>
                        <li>Responsive web design</li>
                    </ul>
                    <p>Click here: <a href="https://evanmags.github.io/TrueGrid/" target="_blank"> To view the full project</a></p>
                </div>
            </div>
            <div class="foot"><span>Click for more</span><i class="fas fa-chevron-circle-right"></i></div>
        </div>
        <div class="card closing">
            <img class="icon" src="https://img.icons8.com/material/24/000000/multiply.png">
            <div class="cardContent">
                <div class="title">Pixelator</div>
                <div class="sub">Pixel art sandbox</div>
                <div class="description">
                    <p>Pixelator came about from my initial attempts at learning react. Initially buildt in codepen, I decided to take it to full site shortly there after. Everything in the app is rendered through react, allowing th egrid of pixels to grow to any screen.</p>
                    <ul>What I learned:
                        <li>React</li>
                    </ul>
                    <p>Click here: <a href="https://evanmags.github.io/pixelator/" target="_blank"> To view the full project</a></p>
                </div>
            </div>
            <div class="foot"><span>Click for more</span><i class="fas fa-chevron-circle-right"></i></div>
        </div>
    </div>
</div>

<div id="section3" class='section hidden'>
    <div class="heading">
        <h1 class="title">Resume</h1>
        <hr class="divider">
    </div>
    <div class="content">
        <div class="contentColumn">
            <h4 class="ccTitle">Education</h4>
            <div class="columnSection">
                <h5>St. John Fisher College <span>Rochester, NY</span></h5>
                <h6>B.S. Biology <span>Aug. 2011 - May 2015</span></h6>
                <hr class="divider">
                <ul><span>Coursework focused in:</span>
                    <li>Physiology</li>
                    <li>Psychology</li>
                    <li>Statistics</li>
                    <li>Physics</li>
                    <li>Chemisty</li>
                </ul>
            </div>
            <div class="columnSection">
                <h5>SUNY Cortland <span>Cortland, NY</span></h5>
                <h6>M.S. Exercise Science <span>Aug. 2015 - Dec. 2018</span></h6>
                <hr class="divider">
                <ul><span>Coursework focused in:</span>
                    <li>Biomechanics</li>
                    <li>Statistics</li>
                    <li>Motor Learning and Behavior</li>
                    <li>Research Methods</li>
                </ul>
            </div>
        </div>
        <div class="contentColumn">
            <h4 class="ccTitle">Work Experience</h4>
            <div class="columnSection">
                <h5>Head Coach for Cross Country and Track and Field <span class="businessName">SUNY Oswego</span></h5>
                <h6>Oswego, NY <span>Jun. 2017 - Present</span></h6>
                <hr class="divider">
                <ul><span>Resposibilities Include:</span>
                    <li>Management of 5 assistant coaches</li>
                    <li>Identification and recruitment of student athletes</li>
                    <li>Building and maintaining budgets</li>
                    <li>Planning Travel</li>
                </ul>
            </div>
            <div class="columnSection">
                <h5>Assistant Coach for Cross Country and Track and Field <span class="businessName">SUNY Cortland</span></h5>
                <h6>Cortland, NY <span>Aug. 2016 - May 2017</span></h6>
                <hr class="divider">
            </div>
            <div class="columnSection">
                <h5>Sales Associate <span class="businessName">Fingerlakes Running Co.</span></h5>
                <h6>Ithaca, NY <span>Aug. 2015 - Aug. 2017</span></h6>
                <hr class="divider">
            </div>
        </div>
    </div>
</div>

<div id="section4" class='section hidden'>
    <div class="heading">
        <h1 class="title">Contact</h1>
        <hr class="divider">
    </div>
    <div class="content">
        <div class="contentColumn">
            <h4>Reach me through email:</h4>
            <form id="contactForm" action="">
                <div class="formGroup">
                    <div class="formItem">
                        <label for="email[Fname]">First Name: </label>
                        <input type="text" name="email[Fname]" id="Firstname" placeholder="John" required>
                    </div>
                    <div class="formItem">
                        <label for="email[Lname]">Last Name: </label>
                        <input type="text" name="email[Lname]" id="Lastname" placeholder="Smith">
                    </div>
                </div>
                <div class="formItem">
                    <label for="email[email]">Email: </label>
                    <input type="email" name="email[email]" id="email" placeholder="j.smith@email.com" required>
                </div>
                <div class="formItem">
                    <label for="email[phone]"> Phone: </label>
                    <input type="tel" name="email[phone]" id="phone" placeholder="(555) 321-9876">
                </div>
                <div class="formItem">
                    <label for="email[business]">Business: </label>
                    <input type="text" name="email[business]" id="business">
                </div>
                <div class="formItem">
                    <label for="email[body]">Email Body: </label>
                    <textarea name="email[body]" id="emailBody" placeholder="I love your work, here's $1,000,000!" required></textarea>
                </div>
                <button class="formButton" type="submit">Send</button>
                <button class="formButton" type="reset">Clear</button>
            </form>
        </div>
        <div class="contentColumn">
            <div class="columnSection">
                <h4>Availability:</h4>
                <p>I am currently available for any and all work. (freelance, contract, temporary, ect.)</p>
            </div>
            <div class="columnSection contactInfo">
                <h4>Contact me directly:</h4>
                <p><em>Email:</em> magnussen.evan@gmail.com</p>
                <p><em>Phone:</em> (585) 519-5333</p>
                <p><em>Mail:</em> 18w 3rd street <br><span>Mail:</span> Oswego, NY 13126</p>
            </div>
        </div>
    </div>
</div>


<% include partials/footer %>