/* generic styling */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'raleway', sans-serif
}

:root{
    --white: #f0f0f0;
    --grey: #a0a0a0;
    --framecolor: #272727;
}

body{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    color: var(--framecolor)
}

a{
    text-decoration: none;
    color: black;
}

/* navigation adn header styling */

.sidebar{
    position: fixed;
    background: var(--framecolor);
    width: 200px;
    height: calc(100vh - 50px);
    bottom:0;
    z-index: 1001;
    transition: all .5s ease-in-out;
}

.navbar{
    position: fixed;
    background: var(--framecolor);
    height: 50px;
    width: 100vw;
    padding-right: 1rem;
    padding-left: 1rem;
    z-index: 100;
    transition: all .5s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shadow{
    position: fixed;
    top: 50px;
    left: 200px;
    box-shadow: inset 5px 5px 50px #6667;
    z-index: 100;
    width: calc(100vw - 200px);
    height: calc(100vh - 50px);
    pointer-events: none;
    transition: all .5s ease-in-out;
}

.social{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button{
    height: 2rem;
    padding: 10px;
    margin: 5px;
    font-size: .9rem;
    border: 1px solid transparent;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease-in-out;
}

.button a{
    color: var(--grey);
    transition: all .4s ease-in-out;
}

.button:hover{
    color: var(--white);
    border: 1px solid var(--white);
}

.button:hover a{
    color: var(--white);
}

/* generic section styling */
.section{
    position: absolute;
    width: calc(100vw - 200px);
    height: 100vh;
    margin-left: 200px;
    box-shadow: -10px 0px 90px #6667;
    background: var(--white);
    transition: all .4s ease, opacity 1s ease-in-out;
}

.section:active{
    transform: translateY(-5vh);
}

/* Section 1 */
#section1{
    top: 50px;
    z-index: 1;
}

.heading, .mainHeading{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.mainHeading{
    height: 125px;
}

.mainHeading .title{
    font-size: 4rem;
}

.mainHeading .subheading{
    font-weight: 400;
    text-transform: uppercase;
}

.heading{
    height: 75px;
}

.heading .subheading{
    font-weight: 400;

}

.divider{
    width: 85%;
    height: 2px;
    border: none;
    border-radius: 2px;
    background: var(--framecolor);
}

#section2{
    top: 105vh;
    z-index: 2;
}

#section2.menu{
    top: calc((100vh - 50px) * .25 + 50px) !important;
}

#section3{
    top: 205vh;
    z-index: 3;
}

#section3.menu{
    top: calc((100vh - 50px) * .5 + 50px) !important;
}

#section4{
    top: 305vh;
    z-index: 4;
}

#section4.menu{
    top: calc((100vh - 50px) * .75 + 50px) !important;
}

.menu{
    transition: top .4s ease-in-out, transform .4s ease;
}

.content{
    padding: 30px 50px;
}

/* utility classes */
.hidden{
    opacity: 0;
}