/* generic styling */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'raleway', sans-serif
}

:root{
    --white: #f0f0f0;
    --grey: #909090;
    --framecolor: #272727;
}

body{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    color: var(--framecolor)
}

a{
    text-decoration: none;
    color: black;
}

p{
    line-height: 1.5rem;
    margin: .75rem 0;
}

/* navigation adn header styling */
/* delete?? */
.sidebar{
    position: fixed;
    background: var(--framecolor);
    /* width: 200px; */
    height: calc(100vh - 50px);
    bottom:0;
    z-index: 1001;
    transition: all .5s ease-in-out;
}

.navbar{
    position: fixed;
    background: var(--framecolor);
    color: var(--white);
    height: 50px;
    width: 100vw;
    padding-right: 1rem;
    padding-left: 1rem;
    z-index: 100;
    transition: all .5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.navTitle{
    transition: all 1s ease-in-out;
}

.shadow{
    position: fixed;
    top: 50px;
    left: 0px;
    box-shadow: inset 5px 5px 50px #6667;
    z-index: 100;
    width: calc(100vw - 0px);
    height: calc(100vh - 50px);
    pointer-events: none;
    transition: all .5s ease-in-out;
}

.social{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button{
    height: 2rem;
    padding: 10px;
    margin: 5px;
    font-size: .9rem;
    border: 1px solid transparent;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease-in-out;
}

.button a{
    color: var(--grey);
    transition: all .4s ease-in-out;
}

.button:hover{
    color: var(--white);
    border: 1px solid var(--white);
}

.button:hover a{
    color: var(--white);
}

/* generic section styling */
.section{
    position: absolute;
    width: calc(100vw - 0px);
    height: calc(100vh - 50px);
    margin-left: 0px;
    padding: 30px 50px;
    box-shadow: -10px 0px 90px #6667;
    background: var(--white);
    overflow: scroll;
    transition: all .6s ease, opacity 1s ease-in-out;
}

/* Section 1 */
#section1{
    top: 50px;
    z-index: 1;
}

#section2{
    top: 110vh;
    z-index: 2;
}

#section2.menu{
    top: calc((100vh - 50px) * .25 + 50px) !important;
}

#section3{
    top: 215vh;
    z-index: 3;
}

#section3.menu{
    top: calc((100vh - 50px) * .5 + 50px) !important;
}

#section4{
    top: 320vh;
    z-index: 4;
}

#section4.menu{
    top: calc((100vh - 50px) * .75 + 50px) !important;
}

/* stying for components of each section */
.heading, .mainHeading{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.mainHeading{
    height: 125px;
    margin-bottom: 10px;
}

.mainHeading .title{
    font-size: 4rem;
}

.mainHeading .subheading{
    font-weight: 400;
    text-transform: uppercase;
}

.heading{
    margin: 20px;
    height: 50px;
}

.heading .subheading{
    font-weight: 400;
}

.divider{
    width: 85%;
    height: 2px;
    border: none;
    border-radius: 2px;
    background: var(--grey);
}

.heading .divider{
    width: 75%;
}

.content{
    padding: 10px 50px;
    max-height: calc(100% - 125px);
    width: 90%;
    margin: auto;
    overflow: scroll;
    display: flex;
    justify-content: space-between;
}

.intro, .contentColumn, .profilePic{
    max-width: 30%;
    flex-grow: 1;
    flex-shrink: 1;
}

.contentColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skills, .goals{
    width: 100%;
    max-height: 48%
}

.skills{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skills h4{
    width: 100%;
    margin-bottom: 5px;
}

.skills > svg{
    margin: 10px;
    max-height: 40px;
    max-width: 75px;
    width: auto;
    height: auto;
}

.skills > img{
    margin: 10px;
    max-height: 40px;
    max-width: 75px;
    height: auto;
    width: auto;
}

/* utility classes */
.hidden{
    opacity: 0;
}

.menu{
    transition: top .8s ease, transform .3s ease;
}

.menu:hover{
    transform: translateY(-5vh);
}

#section1.menu:hover{
    transform: translateY(0vh);
}